.gallery-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: calc(100vh - 109px);
}

.gallery-p1 {
    flex: 12;
    word-break: break-all;
    /* allows breaking between any character */
    white-space: normal;
    /* ensure wrapping is allowed */
    line-height: 0.9;
}

.gallery-content {
    background-color: #2E585B;
    padding-bottom: 160px;
}

.gallery-divider {
    margin-top: 59px;
    margin-bottom: 61px;
    height: 4px;
    background-color: #FFF;
}

.photo-modal {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.85);
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo-modal-image {
    max-width: 90%;
    max-height: 90%;
}

.photo-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 48px;
    color: white;
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1001;
}

.photo-nav.left {
    left: 32px;
}

.photo-nav.right {
    right: 32px;
}

/* videos */

.talk-cabildos {
    background-color: white;
    color: black;
}




@media (min-width: 0px) and (max-width: 768px) {
    .gallery-p1 {
        flex: 12;
        font-size: 300px;
    }

    .gallery-header {
        padding-top: 120px;
    }

    .gallery-image {
        height: 247px;
        width: 100%;
        object-fit: cover;
    }

    .gallery-content {
        padding-top: 40px;
    }

    .gallery-tab-title {
        font-size: 48px;
    }

    .c-video-desktop,
    .c-video-desktop-wrapper {
        display: none;
    }

    .talk-video-mobile {
        position: relative;
        padding-top: 63px;
        padding-bottom: 117px;
        background-color: white;
        background-size: cover;
        background-position: center;
        overflow: hidden;
    }

    .c-video-mobile {
        height: 782px;
        width: 100%;
        object-fit: cover;
        display: block;
        z-index: 1;
        position: relative;
    }

    /* Overlay Styles */
    .video-overlay-mobile {
        position: absolute;
        top: 63px;
        left: 0;
        width: 100%;
        height: 782px;
        background-image: url('https://ya-toca-web-imgs.nyc3.cdn.digitaloceanspaces.com/bg/bg_video_habla_mobile.png');
        background-size: cover;
        background-position: center;
        z-index: 2;
        cursor: pointer;
        opacity: 1;
        transition: opacity 0.5s ease;
    }

    /* Fade out animation */
    .fade-out {
        opacity: 0;
        pointer-events: none;
    }

    .gallery-titles-container {
        gap: 78px;
    }
}

@media (min-width: 768px) {
    .gallery-p1 {
        font-size: 540px;
    }

    .gallery-tab-title {
        font-size: 96px;
    }

    .gallery-content {
        padding-top: 68px;
    }

    .gallery-header {
        padding-top: 130px;
    }

    .gallery-image {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .photo-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .photo-item img {
        width: 100%;
        height: auto;
        display: block;
        object-fit: cover;
    }

    .c-video-desktop-wrapper {
        position: relative;
        width: 100%;
        height: 796px;
        margin-top: 63px;
        margin-bottom: 64px;
    }

    .c-video-desktop {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .video-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url('https://ya-toca-web-imgs.nyc3.cdn.digitaloceanspaces.com/bg/bg_talk.png');
        background-size: cover;
        background-position: center;
        z-index: 2;
        cursor: pointer;
    }

    .video-overlay {
        transition: opacity 0.5s ease;
        opacity: 1;
    }

    .video-overlay.hidden {
        opacity: 0;
        pointer-events: none;
    }

    .talk-video-mobile,
    .c-video-mobile {
        display: none;
    }

    .gallery-titles-container {
        gap: 125px;
    }
}

@media (min-width: 1280px) {
    .gallery-p1 {
        font-size: 580px;
    }
}

@media (min-width: 1440px) {
    .gallery-p1 {
        font-size: 600px;
    }
}

@media (min-width: 1500px) {
    .gallery-p1 {
        font-size: 620px;
    }
}