.wrapper {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    min-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
.wrapper-children {
    width: 100%;
}
.wrapper::-webkit-scrollbar {
    display: none;
}